<!-- productDetail.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>
<body>
    <h2>Product Detail</h2>
    <p>
        <strong>Product Name:</strong> <%= product.productName %><br>
        <strong>Product Price:</strong> $<%= product.productPrice.toFixed(2) %><br>
        <img src="/uploads/<%= product.primaryImage %>" alt="<%= product.productName %> Image" width="200">
    </p>

        <!-- Sub-Images -->
        <ul class="akhil">
            <% product.imageGroup.forEach(subImage => { %>
               
                    <img src="/uploads/<%= subImage %>" alt="<%= product.productName %> Sub-Image" width="50">
                
            <% }); %>
        </ul>


    <a href="/products/list">Back to Product List</a>
</body>
</html>
